.contacts_text {
    color: $primary-color;
    font-size: 2.35rem;
    font-family: 'Prosto One', cursive;
    text-align: center;
    @media (min-width: $medium) {
        font-size: 6rem;
    }
    @media (min-width: $large) {
        font-size: 8rem;
    }
}

.contacts_footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100svh;
}

.contacts_section {
    align-items: center;
    justify-content: center;
    height: auto;
}


