footer {
    background-color: $primary-color;
    display: flex;
    flex-direction: column;
}

.footer-row {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    padding: 0 1rem;

    &:first-child {
        background-color: $main-background-color;
        color: $primary-color;
    }

    &:last-child {
        background-color: $primary-color;
        color: $main-background-color;
    }
} 


