/* desktop
#grid {
    display: grid;
    grid-template-columns: 12;
    column-gap: 1.5rem;
    padding: 0 1.5rem 2.4rem;
}*/


@media (min-width: $large) {
    
    .grid {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        //grid-template-rows: repeat(12, 1fr);
        column-gap: 1rem;
        padding: 0 1rem 2rem;
        
    }
}