/*header {
    background-color: red;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    box-sizing: border-box;
    padding: 0 1rem;
    align-items: baseline;
    justify-content: space-between;
}*/

header {
    display: block;
    position: sticky;
    top: 0;
    background-color: $main-background-color;
    width: 100%;
    margin: 0;
    padding: 0;
    z-index: 1;

    h1 {
        margin: 0;
    }
}

#header_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    margin: 0;
}

.btn--toggle-menu {
    background: transparent;
    border: none;
    cursor: pointer;


    @media (min-width: $medium) {
        display: none;
    }

    svg {
        stroke: $primary-color;
        fill: $primary-color;
    }
}

#main-navigation {
    display: none;

    @media (min-width: $medium) {
        display: block;
    }

    &.menu-is-open {
        display: flex;
        position: absolute;
        background: $main-background-color;
        top: 60px;
        left: 0;
        width: 100%;
        height: 100svh;
        z-index: 2;
        flex-direction: column;
        justify-content: center;
        text-align: center;

        ul {
            flex-direction: column;
            font-size: 2rem;
            gap: 40px;
        }

        @media (min-width: $medium) {
            display: block;
            position: static;
            background: transparent;
            width: auto;
            height: auto;

            ul {
                flex-direction: row;
                font-size: 1.25rem;
                column-gap: 30px;
            }
        }
    }
}

nav a {
    display: flex;
    align-content: stretch;
    color: $primary-color;
    text-decoration: none;

    &.active {
        text-decoration: underline;
    }
}

ul {
    display: flex;
    list-style: none;
    column-gap: 10px;
    color: $primary-color;
}

li {
    font-size: 1rem;
    font-family: 'Prosto One', cursive;
    color: $primary-color;
    line-height: 1.5;
}