
/*header {
    background-color: red;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    box-sizing: border-box;
    padding: 0 1rem;
    align-items: baseline;
    justify-content: space-between;
}*/

header {
    padding: 0 1rem;
}

nav a {
    display: flex;
    align-content: stretch;
    color: $primary-color;
    text-decoration: none;
    &.active {
        text-decoration: underline;
    }
}


ul {
    display: flex;
    list-style: none;
    column-gap: 10px;
    color: $primary-color;
}

li {
    font-size: 1rem;
    font-family: 'Prosto One', cursive;
    color: $primary-color;
    line-height: 1.5;
}



