/* --- geral --- */

html,
body {
  box-sizing: border-box;
  font-size: 16px;
  margin: 0;
  padding: 0;
  background-color: $main-background-color;
  color: $primary-color;
}

main {
  flex-grow: 1;
  display: flex;
  //align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 30px 20px;
  margin: 0;
}

::selection {
  color: $main-background-color;
  background: $primary-color;
}


h1 {
  @include textH1
}

h2 {
  @include textH2
}

h3 {
  @include textH3
}

h4 {
  @include textH4
}

p {
  @include textBody
}

/*------ animação quote ------*/
.marquee {
  white-space: nowrap;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  padding: 25px 0;
}

.marquee_content {
  display: block;
  width: 100%;
  font-size: 1.5rem;
  font-family: 'Prosto One', cursive;
  transform: translateX(100%);
  animation: move 30s linear infinite
  
}


p {
  margin-bottom: 8px;
}


ul {
  padding-left: 0;
}

@media (min-width: 850px) {
  .flex-grid {
    display: flex;
    flex-direction: row;
    column-gap: 30px;
  }

  .column {
    width: 33.33%;
  }

  .column:not(:last-child) {
    margin-bottom: 0;
  }
}


@media (min-width: $medium) {
  main {
    max-width: 100%;
    padding: 30px;
  }
}

@media (min-width: $large) {
  main {
    max-width: 1130px;
  }
}