/* --- geral --- */

html,
body {
  height: 100svh;
  box-sizing: border-box;
  //overflow-x: hidden;
  font-size: 16px;
  margin: 0;
  padding: 0;
  background-color: $main-background-color;
  color: $primary-color;
  &.no-scroll {
    overflow-y: hidden;
  }
 
}

main {
  flex-grow: 1;
  display: flex;
  //align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 30px 20px;
  margin: 0;
}

::selection {
  color: $main-background-color;
  background: $primary-color;
}

:visited {
  color: $primary-color;
}


h1 {
  @include textH1;
  @media (min-width: $large) {
    font-size: 2rem;
  }
}

h2 {
  @include textH2
}

h3 {
  @include textH3
}

h4 {
  @include textH4
}


p {
  @include textBody
}

