/* --- geral --- */

html,
body {
  height: 100svh;
  box-sizing: border-box;
  font-size: 16px;
  margin: 0;
  padding: 0;
  background-color: $main-background-color;
  color: $primary-color;
  &.no-scroll {
    overflow-y: hidden;
  }
}

main {
  flex-grow: 1;
  display: flex;
  //align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 30px 20px;
  margin: 0;
}

::selection {
  color: $main-background-color;
  background: $primary-color;
}

:visited {
  color: $primary-color;
}


h1 {
  @include textH1;
  @media (min-width: $large) {
    font-size: 2rem;
  }
}

h2 {
  @include textH2
}

h3 {
  @include textH3
}

h4 {
  @include textH4
}

p {
  @include textBody
}

.link_animation {
  background-image: linear-gradient(
    to right,
    #fff,
    #fff 50%,
    $primary-color 50%
  );
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 5px 0;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;

  &:before {
    content: '';
    background: #fff;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
  }

  &:hover {
    background-position: 0;
   }
   
   &:hover::before {
     width:100%;
   }

}




/*------ animação quote ------*/
.marquee {
  white-space: nowrap;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  padding: 25px 0;
}

.marquee_content {
  display: block;
  width: 100%;
  font-size: 1rem;
  font-family: 'Prosto One', cursive;
  transform: translateX(100%);
  animation: move 20s linear infinite;
  // desktop !!! animation: move 30s linear infinite;
}

p {
  margin-bottom: 8px;
}

ul {
  padding-left: 0;
}

