/* desktop
@mixin textH1 {
    font-size: 2rem;
    font-family: 'Prosto One', cursive;
    color: $primary-color;
    line-height: 1.5;
}

@mixin textH2 {
    font-size: 3rem;
    font-family: 'Prosto One', cursive;
    color: $primary-color;
    line-height: 1.5;
}

@mixin textH3 {
    font-size: 2rem;
    font-family: 'Prosto One', cursive;
    color: $primary-color;
    line-height: 1.5;
}

@mixin textH4 {
    font-size: 1.25rem;
    font-family: 'Nunito', cursive;
    color: $primary-color;
    line-height: 1.5;
}

@mixin textBody {
    font-size: 1rem;
    font-family: 'Nunito', cursive;
    color: $primary-color;
    line-height: 1.5;
}

@mixin textLinks {
    font-size: 1.25rem;
    font-family: 'Prosto One', cursive;
    color: $primary-color;
    line-height: 1.5;
}
 */

 @mixin textH1 {
    font-size: 1rem;
    font-family: 'Prosto One', cursive;
    color: $primary-color;
    line-height: 1.5;
}

@mixin textH2 {
    font-size: 1.6rem;
    font-family: 'Prosto One', cursive;
    color: $primary-color;
    line-height: 1.5;
}

@mixin textH3 {
    font-size: 1.3rem;
    font-family: 'Prosto One', cursive;
    color: $primary-color;
    line-height: 1.5;
}

@mixin textH4 {
    font-size: 1.25rem;
    font-family: 'Nunito', cursive;
    color: $primary-color;
    line-height: 1.5;
}

@mixin textBody {
    font-size: 1rem;
    font-family: 'Nunito', cursive;
    //color: $primary-color;
    line-height: 1.5;
    margin: 0;
}

@mixin textLinks {
    font-size: 1rem;
    font-family: 'Prosto One', cursive;
    color: $primary-color;
    line-height: 1.5;

}