
img,
figure {
    margin: 0;
    padding: 0;
    width: 100%;
}

@media (min-width: $large) {

    .grid {
        h2 {
            grid-column: 1 / span 12;
            order: 1;
        }
        .first_image {
            grid-column: 1 / 7 ;
            order: 2;
        }
        .second_image {
            grid-column: 7 / 13;
            order: 2;
        }
        h3 {
            grid-column: 1 / span 12;
            order: 3;
        }
        .project_context {
            grid-column: 1 / 7;
            order: 4;
        }
        .project_description {
            grid-column: 7 / 13;
            order: 4;
        }
        .link_animation {
            grid-column: 7 / 13;
            order: 5;
            display: flex;
            justify-content: end;
        }

    }
}